.app-header{
  background-color: bisque;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
}
.app-header .nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header .nav-header a{
  margin: 0 2rem;
  color: black;
  font-weight: 500;
  font-size: 11pt;
}
.app-header .nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header .nav-btn-menu{
  display: none;
  opacity: 0;
}
.app-header .search{
  width: 0
}
@media only screen and (max-width: 900px) {
  .app-header .nav-header{
    background-color: bisque;
    position: fixed;
    top:60px;
    z-index: -1000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

  }
  .app-header .nav-header a:not(:last-child){
    margin-bottom: 10px;

  }
  .app-header .responsive_nav{
    height: 50%;
  }
  .app-header .nav-btn-menu{
    display: block;
    opacity: 1;
  }
}