.app-header {
  svg{
    vertical-align: baseline;
  }
  background-color: bisque;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
  .nav-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: 0 2rem;
      color: black;
      font-weight: 500;
      font-size: 11pt;
      text-decoration: none;
      &:hover{
        color: darkgrey;
      }
    }
   
  }
  .nav-btn-menu {
    display: none;
    opacity: 0;
  }
}
@media only screen and (max-width: 900px) {
  .app-header {
    .nav-header {
      background-color: bisque;
      position: fixed;
      top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      a:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .responsive_nav {
      height: 50%;
    }
    .nav-btn-menu {
      display: block;
      opacity: 1;
    }
  }
}
