header{
  position: relative;
  padding: 0 2rem;
  background-color: antiquewhite;
}
li{
  list-style: none;
}
.navbar{
  width: 100%;
  height:60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-link{
  display: flex;
  gap: 2rem;
}
.navbar .toggle-btn{
  font-size: 1.5rem;
  color: blue;
  cursor: pointer;
}
.navbar .nav-menu{
  flex: 0.7;
}
.navbar .action-btn:is(:first-child){
 margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .action-btn:visited{
    .nav-menu{
      display: block;
  }}
  .nav-menu{
    display: none;
    position: absolute !important;
    top: 60px;
    width: 100%;
    transition: all 2s;
  }
}
.ant-menu-light.ant-menu-horizontal.ant-menu-item-selected{
  color: red;
  border-bottom-color: unset;
}
.ant-menu-light.ant-menu-horizontal:hover{
  border-bottom-color: unset;
}
.navbar .nav-input{
  width: 300px;
}
